.card {
  background-color: $card-background;
  border-radius: 6px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  padding: $default-spacing;
  text-align: center;
  &__image {
    display: block;
    img{
      width: 50%;
      border-radius: 50%;
    }
  }
  &__title {
    background-color: transparent;
    h2{
      font-size: 28px;
      span{
        display: block;
        font-size: 28px;
      }
    }
  }
  &__footer {
    padding: 7px 0px;
    &__cta {
      display: block;
      background-color: lighten($card-cta-background, 10%);
      color: lighten($card-cta-color, 100%);
      padding: 7px 30px;
      border-color:transparent;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        font-weight: 500;
        color: darken($card-cta-color, 100%);
        background-color: lighten($card-cta-background, 20%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}