.card {
  background-color: $card-background;
  border-radius: 6px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  padding: $default-spacing;
  text-align: center;
  transition: all .5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &__image {
    display: block;
    img{
      border-radius: 50%;
      transition: all .5s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &__title {
    background-color: transparent;
    h2{
      font-size: 28px;
      span{
        display: block;
        font-size: 21px;
      }
    }
  }
  &__footer {
    padding: 7px 0px;
    background-color: $card-footer-background;
    button {
      font-size: 17px;
      background-color: lighten($card-footer-background, 10%);
      color: lighten($card-footer-color, 100%);
      padding: 7px 30px;
      border-color:transparent;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        font-weight: 500;
        color: darken($card-footer-color, 100%);
        background-color: lighten($card-footer-background, 20%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}