*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  background-color: $background-color;
  color: $text-color;
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


