// Grid Layout

//container
section { 
  max-width: 1024px;
  width: 100%;
  margin:0 auto;
  background-color: red;
  //row
  .card__wrapper { 
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    //col
    .col{ 
      padding: 15px;
      margin-bottom: 35px;
      align-self: center;
      @media only screen and(max-width: 449px) {
        flex:  1 1 100%;
        max-width: 100%;
      }
      @media only screen and(min-width: 450px) and (max-width: 699px){
        flex:  1 1 50%;
        max-width: 50%;
      }
      @media only screen and(min-width: 700px) and (max-width: 1023px){
        flex:  1 1 33.333%;
        max-width: 33.333%;
      }
      @media only screen and(min-width: 1024px) {
        flex:  1 1 25%;
        max-width: 25%;
      }
    }
  }
}