.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow:hidden;

  .modal-body{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 700px;
    @include translate(-50%, -50%);
    @media only screen and (max-width: 991px) {
      width: 80%;
    }
    @include radius(30px);
    .modal-image {
      margin: auto;
      display: block;
      width: 100%;
      height: auto;
      @include radius(30px);
    }
    >span {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #f1f1f1;
      font-size: 30px;
      font-weight: bold;
      &:hover{
        color: lighten( $base-color, 100% );
        cursor: pointer;
      }
      &:focus{
        color: lighten( $base-color, 100%);
        cursor: pointer;
      }
    }
  }
  
}
@media only screen and (max-width: 991px) {
  .modal-image {
     width: 100%;
  }
}